text {
    font-family: 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

text.seq-desc {
    font-family: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}

text.seq-desc-no-arrow {
    font-style: italic;
}
